body {
  font-family: "Playfair Display", "Roboto", "Arial", sans-serif;
  font-size: 14px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #ff7931;
}

.logo {
  font-weight: 900;
}

/*HEADER*/

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-head {
  font-size: 35px;
  line-height: 47px;
  letter-spacing: 1px;
  margin-top: 55px;
  margin-bottom: 46px;
}

.nav-list {
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  padding: 0;
  margin-bottom: 47px;
  max-width: 1171px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.nav-list a {
  margin: 3px 3px 3px 3px;
  text-align: center;
}

/*MAIN*/

.hotel {
  font-family: "Roboto";
  color: #ffffff;
  background-image: url(img/Mask_Group.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 464px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hotel img {
  margin-top: 46px;
}

.hotel h2 {
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
}

.hotel p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 48px;
  max-width: 456px;
}

.review {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  padding: 0;
  margin-top: 44px;
  margin-bottom: 0;
}

.review-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.review-list img {
  position: center;
}

.review-list h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  padding: 0;
  margin: 20px 0 11px 0;
}

.review-list p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
}

.review-list li {
  width: 370px;
  margin-bottom: 20px;
}

.review-list li:nth-child(2) {
  margin-left: 29px;
  margin-right: 29px;
}

.review-list li:nth-child(2) a {
  color: #ff7931;
}

.ticket {
  background: radial-gradient(circle, #ffffff 44%, #f7f7f7 33%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket h2 {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.ticket button {
  width: 170px;
  height: 47px;
  background-color: #ff7931;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 0;
  margin-bottom: 36px;
}

.ticket-list {
  list-style: none;
}

.ticket-list h3 {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  text-align: center;
}

.ticket-list li {
  width: 370px;
}

.ticket-list p {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}

.ticket-list span{
  display: block;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 1px;
  margin: 0 auto;
  opacity: 0.4;
}

/*FOOTER*/

footer {
  background-color: #575757;
  margin-top: 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  color: #ffffff;
}

.logo-footer {
  font-size: 28px;
  line-height: 37px;
  font-style: normal;
  letter-spacing: 1px;
  margin-top: 27px;
  margin-bottom: 32px;
}

footer span{
  display: block;
  width: 1170px;
  background-color: #ffffff;
  height: 1px;
  margin: 0 auto;
  opacity: 0.4;
}

.social {
  display: flex;
  margin-top: 42px;
  margin-bottom: 45px;
}

footer .social a {
  background-color: #ffffff;
  width: 47px;
  height: 47px;
  margin-left: 7px;
  margin-right: 7px;
}

footer .social a:hover {
  background-color: #ff7931;
}

footer .social a:first-child {
  background-image: url("img/insta.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

footer .social a:last-child {
  background-image: url("img/twitter_icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

footer .social a:nth-child(2) {
  background-image: url("img/facebook_icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}